
header {
    
    background-color: rgba(11, 11, 11, 0.5); /* To make the background transparent*/
    color: white;
    text-size-adjust: 15px;
    text-align: left; /* to move the text to the  center*/
    text-shadow: 2px 2px 4px rgb(202, 122, 162); /*Adding shadow behind the text*/
    padding: 20px;
    padding-bottom: 6px;
    font-family:Copperplate, papyrus, fantasy; 
    
}

h1 { 

    color: black;
    padding:10px;
    font-family:Copperplate, papyrus, fantasy; 
    font-size: 22px;
    font-weight: bold;
}

h2 {
    color: black;
    font-family:Copperplate, papyrus, fantasy;
}

h3 {
    color: black;
    font-weight: bold;
    font-family:Copperplate, papyrus, fantasy;
}

#picture1 {
    border: 2px solid white;
    display: block;
    margin-bottom: 50px;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgb(33, 32, 32, 0.5); 

}


body {


    padding: 30px;
    background-size: 1600px;
    background-image: url(rosenkvartstrumlad1-2-3.jpg-1-3.jpg)
    
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  

.box-model1 {
color:white;
text-shadow: 2px 2px 4px rgb(202, 122, 162); 
float: right;
background-color: rgba(11, 11, 11, 0.5);
margin-top: 200px;
margin-right: 70px;
padding: 7px;
border-radius: 4px;
cursor: pointer;
box-shadow: 10px 10px 10px rgb(33, 32, 32, 0.5);

}

.box-model2 {
color: white;
text-shadow: 2px 2px 4px rgb(202, 122, 162); 
float: right;
background-color: rgba(11, 11, 11, 0.5);
margin-top: 200px;
margin-right: 60px ;
padding: 7px;
border-radius: 4px;
cursor: pointer;
box-shadow: 10px 10px 10px rgba(33, 32, 32, 0.5);

}

.box-model3{
    float: right;
    color: white;
    text-shadow: 2px 2px 4px rgb(202, 122, 162); 
    background-color: rgba(11, 11, 11, 0.5);
    margin-top: 200px;
    margin-right: 70px ;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(33, 32, 32, 0.5);
}

.box-model4{ 
    float: right;
    color: white;
    text-shadow: 2px 2px 4px rgb(202, 122, 162); 
    background-color: rgba(11, 11, 11, 0.5);
    margin-top: 200px;
    margin-right: 80px;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(33, 32, 32, 0.5);
}


.aboutMe-section {  
    margin-top: 40px;
    float:center;
    width: 500px;
    padding: 20px;
    background: rgba(255,255,255,0.5);
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.interest-section {

    float:center; 
    padding: 20px;
    width: 500px;
    background: rgba(255,255, 255, 0.5);
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
     
}
.reference-section { 

    padding-bottom: 2px;
    float:center; 
    width: 540px;
    text-align: center;
    background: rgba(255,255, 255, 0.5);
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.gemstone-list {
   float:center; 
   width: 520px;
   padding: 10px;
   background: rgba(255,255, 255, 0.5);
   font-weight:bold; 
   font-family:Copperplate, papyrus, fantasy;
}


.button{

  background-color: rgb(244, 154, 169);  
  color: white; 
  border: none; 
  height: 36px;
  width: 105px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
}


.button:hover {
opacity: 0.6;
  
}
.button:active {
opacity:0.6;
}

a {     
float:center; 
color: darkmagenta;
background: rgba(255,255, 255, 0.5);
    
}

.followMe-section {
background: rgba(255,255, 255, 0.5); 
padding-left: 20px;
padding-top: 2px;
padding-bottom: 0.5px;
margin-bottom: 10px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 
sans-serif 

}


.main-footer{
height: 150px;
color:white;
text-shadow:2px 2px 4px rgb(202, 122, 162);
text-align: center;
background-color: rgba(11, 11, 11, 0.5);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 

}

